.app-header {
  background-color: $dark-color!important;
}

.app-title {
  color: $text-icon-color;
  padding-left: 20px;
}

%nav-menu {
  margin-left: 15px;
}

%nav-item {
  font-size: 20px;
  padding: 0;
  margin-left: 20px;
}

.nav-menu {
  @extend %nav-menu;
  .nav-item {
    @extend %nav-item;
    color: $text-icon-color;
  }

  .nav-item:hover {
    color: $text-icon-color;
    text-decoration: underline!important;
  }

  .nav-item:visited {
    color: $text-icon-color;
  }

  .nav-item {
    .nav-label {
      margin-bottom:0px!important;
    }
  }
}

.nav-menu-mobile {
  @extend %nav-menu;
  position: fixed;
  right: 0;
}

.nav-menu-mobile__drop--container {
  top: 40px !important;
  z-index: 90 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-menu-mobile__drop {
  .grommetux-menu__control {
    display: none;
  }

  .nav-item-mobile {
    @extend %nav-item;
    color: $dark-color;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-item-mobile:hover {
    color: $primary-color;
  }
}

