// Color palette
$dark-color: #2D2E35;
$dark-primary-color: #029ef9;
$light-primary-color: #72cbff;
$primary-color: #2aadf9;
$accent-color: #FF4081;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$text-icon-color: #DBE2E7;

@import '~grommet/scss/vanilla/index';
@import '_components-appheader';
@import '_section-intro';
@import '_section-story';

.grommetux-background-color-index-brand {
  background-color: $primary-color;
}

.grommetux-background-color-index-light-1 {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 59%, rgba(237,237,237,1) 98%);
}