// Color palette
$dark-color: #2D2E35;
$dark-primary-color: #029ef9;
$light-primary-color: #72cbff;
$primary-color: #2aadf9;
$accent-color: #FF4081;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$text-icon-color: #DBE2E7;

@import '~grommet/scss/vanilla/index';
@import '_components-appheader';
@import '_section-intro';
@import '_section-story';

.grommetux-background-color-index-brand {
  background-color: $primary-color;
}

.grommetux-background-color-index-light-1 {
  background-color: rgba(250,250,250,1);
}